/*Global Styles & color vars */
:root{
  --heading-bgs: #347B98;
  --font-color: #1A3E4C;
  --main-header: #E4F1F6;
  --main-header-border: #cccccc;
  --footer-bg: #1A3E4C;
  --main-content-bg: #E4F1F6;
  --main-content-border: #dddddd;
}
* {
  box-sizing: border-box;
}

/*Fonts & utilities*/

h1, h2, h3, h4, h5 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: var(--heading-bgs);
}

h2{
  font-size: 1.5em;
}

hr {
  color: var(--font-color);
  opacity: .4;
}

body {
  background: radial-gradient(#1A3E4C 25%, #092834 60%);
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  overflow-x: hidden;
}

body p {
  font-family: inherit;
  line-height: 2;
  color: var(--font-color);
}

.right {
  float: right;
}

.left {
  float: left;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*
  Grid with floats.
 */

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 12.67%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33%;
}

.col-5 {
  width: 41.67%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.67%;
}

.col-9 {
  width: .75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.67%;
}

.col-12 {
  width: 100%;
}

/*Top section of page
  logo styles and nav styles
 */

header {
  height: 80px;
  width: 100%;
  margin: auto;
  border-bottom: solid 1px var(--main-header-border);
  background-color: var(--main-header);
  box-shadow: 1px -1px 8px 1px rgba(107, 102, 63, .9);

}

header .logo {
  float: left;
  background-color: var(--heading-bgs);
  height: 100%;
  text-align: center;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  padding: 0 4em;
}

.logo p {
  margin: .5em auto .35em auto;
  color: var(--main-header);
  font-size: 1.75rem;
  padding-left: .25em;
  padding-right: .25em;
  text-shadow: -3px 3px 6px rgba(0, 0, 0, 1);
}

header nav {
  float: right;
  margin-top: 2em;
}

nav li {
  display: inline-block;
  color: var(--heading-bgs);
}

nav li:nth-child(2) {
  border-left: 1px solid var(--font-color);
  border-right: 1px solid var(--font-color);
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: .5em;
}

nav .active {
  color: var(--font-color);
  font-size: 1.1em;
}

nav a:hover {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

/*Wrapper class for nav to keep everything inside the content area */

.wrapper {
  max-width: 900px;
  margin: auto;
}

/*Styles present in each page
  container - main content area.
  footer - its sticky but it's also hacky
 */

.container {
  max-width: 900px;
  margin: 1em auto;
  margin-bottom: 3em;
  background-color: var(--main-content-bg);
  padding: .5em 1.75em 1em 1.75em;
  box-shadow: 0px 7px 10px 3px rgb(11, 14, 14);
  border-radius: .2em;
}

.container h1 {
  font-weight: bold;
  font-size: 1.75em;
  margin-top: 1.25em;
  margin-bottom: 1em;
}
.container h2{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1.25em;
}
footer {
  background-color: var(--footer-bg);
  padding-bottom: 1.5em;
  text-align: center;
  width: 100%;
  border-top: .5em solid var(--heading-bgs);
  position: relative;
}

footer p {
  color: var(--main-header);
  padding-top: 1em;
}


.content {
  min-height: calc(100vh - 70px);
}

/*Home page styles and layout */

.about-me img {
  width: 150px;
  height: auto;
  float: left;
  margin-right: 2em;
  clip-path: polygon(31% -5%, 107% 0%, 108% 6%, 98% 74%, 69% 110%, -17% 100%, 0% 70%, 0% 30%);
  shape-outside: polygon(31% -5%, 107% 0%, 108% 6%, 98% 74%, 69% 110%, -17% 100%, 0% 70%, 0% 30%);
  border-radius: .2em;
}

.about-me p::first-letter,
.blog-post p::first-letter{
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

/*Portfolio page styles and layout*/

.card {
  max-width: 30em;

  height: auto;
  text-align: center;
  position: relative;
  padding: .25em;
}
.card:first-child{
  margin: 0 0 0 4em;
}
.card h3 {
  color: var(--heading-bgs);
  font-size: 1em;
  color: var(--main-header);
}
.card img {
  width: 100%;
}
.card p{
  font-size: .75em;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--heading-bgs);
}
.card:hover .overlay {
  opacity: 1;
}

/*Contact Page styles and layouts*/

form label, form input, form textarea, form button {
  display: block;
  width: 100%;
  margin: .5em;
}

form textarea {

  margin: auto;
}

form input {
  padding: .5em;
  border: solid 1px;
  margin: auto;

  color:var(--font-color);
}

form button {
  background-color: var(--heading-bgs);
  width: 20%;
  color: var(--main-header);
  padding: 1em;
  font-size: 1.1em;
}

form {
  margin: auto;

  color: var(--font-color);
}
.contact-floats{
  margin: 1em;
  text-align: center;
  min-width: 225px;
  max-width: 900px;
  margin-bottom: 3em;
  background-color: var(--main-content-bg);
  padding: .5em 1.75em 1em 1.75em;
  box-shadow: 0px 7px 10px 3px rgb(11, 14, 14);
  border-radius: .2em;
}
.icon{
  width: 4em;
  height: auto;

}

.icon:hover{
  animation: btn-social;
  animation-duration: 1s;
}

@keyframes btn-social {
  0%{
    transform: scale(1.25);
  }
  40%{
    transform: rotate(-280deg);
  }
}





/**
 @media query

**/

@media (max-width: 915px) {
  .container{
    margin: 1em 1em;
  }
}

@media (max-width:770px) {
  aside li{
    display: inline-block;
  }
  .contact-floats{
    width: 100%;
    margin: 1em 1em;
  }

  .logo{
    margin: 1em auto;
    width: 100%;
  }
  .card:first-child{
    margin-left: 1em;
  }
  .col-5,
  .col-8,
  .col-2{
    width: 100%;
  }
  .row{
    padding: 0 5em;
  }
  .card{
  margin-left: 1em;
  }
  header{
    height: auto;
  }
  .wrapper{
    display: block;
    text-align: center;
  }
  nav{
    display: block;
    width: 100%;
  }

  nav li{
    display: block;
    width: 100%;
    color: var(--main-header);
    background-color: var(--heading-bgs);
    margin-top: .1em;
    font-size: 1.75em;

  }
  nav a{
    display: inline-block;
    width: 100%
  }

@media (max-width: 570px) {
  form button{
    width: 100%;
    margin: 1em 0;
  }
  .contact-floats{
    margin: 1em 1em;

    width: 90%;
  }
  body p {
    line-height: 1.25;

  }
  .row{
    padding: 0;
  }
  .card:first-child{
    margin-left: auto;
  }

  .card{
    width: 100%;
    padding: 0;
    margin: auto;
  }
  .card p{
    display: none;
  }
  .card h3{
    font-size: 1em;
  }

}



/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.2.1
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover
 * Hover.css Copyright Ian Lunn 2017. Generated with Sass.
/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}


.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn !important;
}
